#featured {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    div:nth-child(2) {
        grid-template-columns: 1fr 1fr;
    }
    margin-top: 40px;

    .card {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }
    }
}
